:root {
    /* Primary Colors */
    --cyan: hsl(179, 62%, 43%);
    --bright-yellow: hsl(71, 73%, 54%);

    /* Neutral Colors */
    --light-gray: hsl(204, 43%, 93%);
    --grayish-blue: hsl(218, 22%, 67%);
    --white: hsl(0, 0%, 100%);

    /* Typography */
    --ff-base: 'Karla', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    background-color: var(--light-gray);

    display: grid;
    place-content: center;
    min-height: 100vh;
}

/* FOOTER */
footer {
    display: none;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}